<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.kmt518.autoPackageProj</key>
		<string>48570f66-3629-4f93-8c48-d782ad40f23d</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Developer: lei zhang (QYNKJGF5K9)</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>5DHMHMME2V</string>
</dict>
</plist>
